
<%= form_for(@from_node, method: :get, url: new_edge_path) do |f| %>
  
  <%# エラーメッセージをレンダリング %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <%# フォーム %>
  <div class="form-group">
    <%= f.label :name, 'ノード名', class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit '作成', class: 'btn btn-primary', name: nil %>
  </div>
  
<% end %>
