
<div id="log-view" style="text-shadow: 0 0 5px #000000; white-space: normal;">
  
  <div>
    [(id)] <p><small><%= (user_signed_in?)? current_user.id : '' %></small></p>
  </div>
  <div>
    [current_id] <p><small><%= @json_data[:current_id] %></small></p>
  </div>
  <div>
    [map_user_id] <p><small><%= @json_data[:map_user_id] %></small></p>
  </div>
  <div>
    [map_user_name] <p><small><%= @json_data[:map_user_name] %></small></p>
  </div>
  <div>
    [view_ids]
    <% @view_ref_ids.each do |ref_id| %>
      <p><small><%= ref_id %>, </small></p>
    <% end %>
  </div>
  
</div>
