<%# 共感者一覧 %>
<%# @param from_node: ノード %>
<%# @param to_node: ノード %>
<%# @param users: リスト表示するユーザのモデルインスタンス %>
<%# @param count: 総人数 %>

<div class="modal-dialog">
  <div class="modal-content">
    
    <div class="modal-body">
      
      <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      
      <ul class="nav nav-tabs">
        <li role="presentation" class="edge-order active">
          <a href="#"><p class="glyphicon glyphicon-arrow-down"></p></a>
        </li>
        <li role="presentation" class="edge-order">
          <a href="#"><p class="glyphicon glyphicon-arrow-up"></p></a>
        </li>
      </ul>
      
      <h3 class="text-center">
        <p>「<%= from_node.name %>」</p>
        <p class="glyphicon glyphicon-arrow-down"></p>
        <p>「<%= to_node.name %>」</p>
      </h3>
        
      <% if !!count %>
        <div>
          <p>共感した人：<%= count %>人（非公開含む）</p>
        </div>
      <% end %>
      
      <div class="well" id="empathy-user-list">
        <ul class="media-list">
          <% users.each do |user| %>
            <li>
              <span>
                <% if (current_user == user) || user.is_hide_edges %>
                  <%= user.name %>
                <% else %>
                  <%= link_to(user.name, edge_path(user.ref_id)) %>
                <% end %>
              </span>
              <span>
                <% if current_user != user %>
                  <% if current_user.following?(user) %>
                    <span id="follow-form-<%= user.id %>">
                      <% if user.is_disable_follow %>
                        <%# フォロー中だが相手が新規フォロワーを受け付けていない %>
                        <%= link_to follow_path(id: user.id), method: :delete, remote: true, class: 'btn btn-default btn-xs active', data: { confirm: "このユーザは新規フォロー受付停止中です。再度フォローできなくなりますが、フォローをやめますか？" } do %>
                          フォロー中
                        <% end %>
                      <% else %>
                        <%= link_to follow_path(id: user.id), method: :delete, remote: true, class: 'btn btn-default btn-xs active' do %>
                          フォロー中
                        <% end %>
                      <% end %>
                    </span>
                  <% elsif !user.is_disable_follow %>
                    <span id="follow-form-<%= user.id %>">
                      <%# フォローしてない %>
                      <%= link_to follows_path(id: user.id), method: :post, remote: true, class: 'btn btn-default btn-xs' do %>
                        フォローする
                      <% end %>
                    </span>
                  <% end %>
                <% end %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
      
      <%= form_for(to_node, method: :post, url: edges_path, html: {id: "edge-new-form"}, remote: true) do |f| %>
        
        <%# エラーメッセージをレンダリング %>
        <%# render 'layouts/error_messages', model: f.object %>
        
        <%= hidden_field_tag :from_node_name, from_node.name %>
        <%= f.hidden_field :name, value: to_node.name %>
  
        <div class="text-center">
          <div class="form-group check-hide-user">
            <%= check_box_tag :is_hide_user, is_hide_user %>
            <%= label_tag :is_hide_user, '自分の名前を非公開にする' %>
          </div>

          <div class="form-group">
            <%= f.submit empathy_button_name(), class: 'btn btn-primary', name: nil %>
          </div>
        </div>
        
      <% end %>

    </div>
  </div>
</div>