<%# 共感者一覧 %>
<%# @param from_node: ノード %>
<%# @param to_node: ノード %>
<%# @param users: リスト表示するユーザのモデルインスタンス %>
<%# @param count: 総人数 %>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      
      <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      
      <ul class="nav nav-tabs">
        <li role="presentation" class="edge-order active">
          <a href="#"><p class="glyphicon glyphicon-arrow-down"></p></a>
        </li>
        <li role="presentation" class="edge-order">
          <a href="#"><p class="glyphicon glyphicon-arrow-up"></p></a>
        </li>
      </ul>
      
      <h3 class="text-center">
        <p>「<%= from_node.name %>」</p>
        <p class="glyphicon glyphicon-arrow-down"></p>
        <p>「<%= to_node.name %>」</p>
      </h3>
        
      <% if !!count %>
        <div>
          <p>共感した人：<%= count %>人（非公開含む）</p>
        </div>
      <% end %>
      
      <div class="well" id="empathy-user-list">
        <%= render 'follows/users', users: users %>
      </div>
      
      <div id="empathy-button">
        <% if @is_owner %>
        
          <%# 共感削除ボタンを表示 %>
          <%= render 'unempathy', from_node: from_node, to_node: to_node, is_hide_user: is_hide_user %>
  
        <% else %>
    
          <%# 共感するボタンを表示 %>
          <%= render 'empathy', from_node: from_node, to_node: to_node, is_hide_user: is_hide_user %>
  
        <% end %>
      </div>
      
    </div>
  </div>
</div>
