<%# 共感者一覧 %>
<%# @param from_node: ノード %>
<%# @param to_node: ノード %>
<%# @param forward: 正順エッジの情報 %>
<%# @param backward: 逆順エッジの情報 %>
<%# @node エッジ内情報 %>
<%#   users: リスト表示するユーザのモデルインスタンス %>
<%#   count: 総人数 %>
<%#   is_owner: 所有ノードか %>
<%#   is_hide_user: ユーザを名前を非公開中として表示するか %>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      
      <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      
      <ul class="nav nav-tabs">
        <li role="presentation" class="edge-order active">
          <a href="#forward-user-form" aria-controls="forward-user-form" role="tab" data-toggle="tab">
            <p class="glyphicon glyphicon-arrow-down"></p>
          </a>
        </li>
        <li role="presentation" class="edge-order">
          <a href="#backward-user-form" aria-controls="backward-user-form" role="tab" data-toggle="tab">
            <p class="glyphicon glyphicon-arrow-up"></p>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        
        <div role="tabpanel" class="tab-pane active" id="forward-user-form">
          <h3 class="text-center">
            <p>「<%= from_node.name %>」</p>
            <p class="glyphicon glyphicon-arrow-down"></p>
            <p>「<%= to_node.name %>」</p>
          </h3>
            
          <% if !!forward[:count] %>
            <div>
              <p>共感した人：<%= forward[:count] %>人（非公開含む）</p>
            </div>
          <% end %>
          
          <div class="well" id="empathy-user-list">
            <%= render 'follows/users', users: forward[:users], is_hide_current_user: forward[:is_hide_user] %>
          </div>
          
          <div class="empathy-button">
            <% if forward[:is_owner] %>
            
              <%# 共感削除ボタンを表示 %>
              <%= render 'unempathy', from_node: from_node, to_node: to_node, is_hide_user: forward[:is_hide_user] %>
      
            <% else %>
        
              <%# 共感するボタンを表示 %>
              <%= render 'empathy', from_node: from_node, to_node: to_node, is_hide_user: forward[:is_hide_user] %>
      
            <% end %>
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane" id="backward-user-form">
          <h3 class="text-center">
            <p>「<%= from_node.name %>」</p>
            <p class="glyphicon glyphicon-arrow-up"></p>
            <p>「<%= to_node.name %>」</p>
          </h3>
            
          <% if !!backward[:count] %>
            <div>
              <p>共感した人：<%= backward[:count] %>人（非公開含む）</p>
            </div>
          <% end %>
          
          <div class="well" id="empathy-user-list">
            <%= render 'follows/users', users: backward[:users], is_hide_current_user: backward[:is_hide_user] %>
          </div>
          
          <div class="empathy-button">
            <% if backward[:is_owner] %>
            
              <%# 共感削除ボタンを表示 %>
              <%= render 'unempathy', from_node: to_node, to_node: from_node, is_hide_user: backward[:is_hide_user] %>
      
            <% else %>
        
              <%# 共感するボタンを表示 %>
              <%= render 'empathy', from_node: to_node, to_node: from_node, is_hide_user: backward[:is_hide_user] %>
      
            <% end %>
          </div>
        </div>
        
      </div><!-- .tab-content -->
      
    </div>
  </div>
</div>
