
<% @edge_list.each do |from_node, edges| %>
  <table class="table table-bordered">
    <tr>
      <th><%= from_node.id %> : <%= from_node.name %> ( <%= @nodes_count[from_node] %> )</th>
    </tr>
    <% edges.each do |edge| %>
      <tr>
        <td><%= edge.to_node.id %> : <%= edge.to_node.name %> ( <%= @nodes_count[edge.to_node] %> )</td>
      </tr>
    <% end %>
  </table>
<% end %>
