
<% content_for :cover do %>

  <div class="view" id="edges-index">
    <% if @target_user %>
      <h1>
        <p><%= render 'follows/follow_form', user: @target_user %></p>
        <%= @target_user.name %>さんのマップ
        <% if current_user == @target_user %>
          <%# ログインユーザと一致 %>
          <% if @is_hide_user %>
            （非公開中）
          <% else %>
            （公開中）
          <% end %>
        <% end %>
      </h1>
    <% end %>
  </div>
  
  <div id="drawer">
    <div class="drawer-open">
      <span class="glyphicon glyphicon-triangle-left"></span>
    </div>
    <div class="drawer-body">
      <% if @is_debug_view %>
        <%= render 'edges/debug_index' %>
      <% end %>
      <div class="drawer-title page-head">
        <h4 class="page-head-title">単語一覧</h4>
      </div>
      <div class="drawer-content">
        <div class="panel-group" id="nodes-index" role="tablist" aria-multiselectable="true">
        </div>
      </div>
    </div>
  </div>

  <datalist id="node-words">
  </datalist>
  
  <div id="node-new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title">新規作成</h4>
        </div>
        
        <div class="modal-body">
          <%= form_tag(new_edge_path, method: :get, id: "node-new-form", remote: true) do %>
            
            <div class="form-group node-circle text-center">
              <%= label_tag :node_name, 'ノード名', class: 'sr-only' %>
              <%= text_field_tag :node_name, '', class: 'form-control node-name', autocomplete: "on", list: "node-words", placeholder: "単語を入力", required: true %>
            </div>
          
            <div class="form-group text-center">
              <%= submit_tag '次へ', class: 'btn btn-default', name: nil %>
            </div>
            
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
  
  
  <div id="edge-new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title">新規作成</h4>
          
        </div>
        
        <div class="modal-body">
          
          <ul class="nav nav-tabs">
            <li role="presentation" class="edge-order active">
              <a href="#edge-new-forward" aria-controls="edge-new-forward" role="tab" data-toggle="tab">
                <p class="glyphicon glyphicon-arrow-down"></p>
              </a>
            </li>
            <li role="presentation" class="edge-order">
              <a href="#edge-new-backward" aria-controls="edge-new-backward" role="tab" data-toggle="tab">
                <p class="glyphicon glyphicon-arrow-up"></p>
              </a>
            </li>
          </ul>

          <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane active" id="edge-new-forward">
              <%= form_tag(edges_path, method: :post, id: 'edge-new-forward-form', remote: true) do %>
                
                <%= hidden_field_tag :from_node_name, '', class: 'auto-node-name' %>
                
                <div class="row">
                  <div class="edge-line"></div>
                  
                  <div class="small-node col-xs-4">
                    <div class="text-center">
                      <div class="node-circle">
                        <span class="node-name node-label"></span>
                      </div>
                    </div>
                  </div>
                  
                  <div class="big-node col-xs-8 text-center">
                    <div class="form-group node-circle">
                      <%= label_tag :to_node_name, 'ノード名', class: 'sr-only' %>
                      <%= text_field_tag :to_node_name, '', class: 'form-control node-name node-name-form', autocomplete: 'on', list: 'node-words', placeholder: '連想する単語を入力', required: true %>
                    </div>
                  </div>
                </div>
                
                <div class="form-group text-center">
                  <%= check_box_tag :is_hide_user %>
                  <%= label_tag :is_hide_user, '自分の名前を非公開にする' %>
                </div>
                
                <div class="form-group text-center">
                  <%= submit_tag '作成', class: 'btn btn-default', name: nil %>
                </div>
                
              <% end %>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="edge-new-backward">
              <%= form_tag(edges_path, method: :post, id: 'edge-new-backward-form', remote: true) do %>
                
                <%= hidden_field_tag :to_node_name, '', class: 'auto-node-name' %>
                
                <div class="row">
                  <div class="edge-line"></div>
                  
                  <div class="big-node col-xs-8 text-center">
                    <div class="form-group node-circle">
                      <%= label_tag :from_node_name, 'ノード名', class: 'sr-only' %>
                      <%= text_field_tag :from_node_name, '', class: 'form-control node-name node-name-form', autocomplete: 'on', list: 'node-words', placeholder: '連想する単語を入力', required: true %>
                    </div>
                  </div>
                  
                  <div class="small-node col-xs-4">
                    <div class="text-center">
                      <div class="node-circle">
                        <span class="node-name node-label"></span>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-group text-center">
                  <%= check_box_tag :is_hide_user %>
                  <%= label_tag :is_hide_user, '自分の名前を非公開にする' %>
                </div>
                
                <div class="form-group text-center">
                  <%= submit_tag '作成', class: 'btn btn-default', name: nil %>
                </div>
                
              <% end %>
            </div>
            
          </div><!-- .tab-content -->
          
        </div><!-- .modal-body -->
        
      </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
  </div><!-- #edge-new -->
  
  
  <%# ポップアップ %>
  <div id="users-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <%# jsonデータ %>
  <div id="json-data" data-json="<%= @json_data.to_json %>"></div>
  
<% end %>


<% content_for :script do %>

  <script>
    var imaginnection = imaginnection || {};
    imaginnection = $("#json-data").data("json");
  </script>
  
  <%= javascript_include_tag 'vendor/bootstrap-tour.min.js' %>
  
  <% if ENV['BAAS_STAGING'] == 'true' %>
    <%= javascript_include_tag 'common/edges-stg.js' %>
  <% else %>
    <%= javascript_include_tag 'common/edges.js' %>
  <% end %>
  
<% end %>
