
<div class="view" id="edges-index">
  <h1>
    <% if @target_user %>
      <%= @target_user.name %>さんのマップ
    <% else %>
      マップ
    <% end %>
  </h1>
  <%= render 'edges/debug_index' %>
</div>


<%# node new %>
<div class="view" id="node-new">
  
  <h2>
    ノード作成
  </h2>
  
  <%= form_for(@from_node, method: :get, url: new_edge_path, html: {id: "node-new-form"}, remote: true) do |f| %>
    
    <%# エラーメッセージをレンダリング %>
    <%= render 'layouts/error_messages', model: f.object %>
    
    <div class="form-group">
      <%= f.label :name, 'ノード名', class: 'sr-only' %>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  
    <div class="form-group">
      <%= f.submit '作成', class: 'btn btn-primary', name: nil %>
    </div>
    
  <% end %>
</div>


<%# edge new %>
<div class="view" id="edge-new">
  
  <h2>
    エッジ作成
  </h2>
  
  <h3 class="from-node-name"></h3>
  
  <%= form_for(@to_node, method: :post, url: edges_path, html: {id: "edge-new-form"}, remote: true) do |f| %>
    
    <%# エラーメッセージをレンダリング %>
    <%# render 'layouts/error_messages', model: f.object %>
    
    <%= hidden_field_tag :from_node_name, "" %>
    
    <div class="form-group">
      <%= f.label :name, 'ノード名', class: 'sr-only' %>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  
    <div class="form-group">
      <%= check_box_tag :is_hide_user %>
      <%= label_tag :is_hide_user, '自分の名前を非公開にする' %>
    </div>
    
    <div class="form-group">
      <%= f.submit '作成', class: 'btn btn-primary', name: nil %>
    </div>
    
  <% end %>
</div>


<%# ポップアップ %>
<div id="users-modal" class="modal fade " tabindex="-1" role="dialog" aria-hidden="true"></div>


<% content_for :script do %>
  <script>
    var current_id = "<%= current_user.ref_id %>";
    var view_ids = <%= @view_ref_ids.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'firebase/init.js' %>
  <%= javascript_include_tag 'firebase/view.js' %>
  <%= javascript_include_tag 'firebase/update.js' %>
  <%= javascript_include_tag 'firebase/events.js' %>
<% end %>
