
<div>
  <%= @edge.from_node.name %>
</div>

<%= form_for(@edge) do |f| %>
  
  <%# エラーメッセージをレンダリング %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <%# フォーム %>
  <%= f.fields_for :to_node do |builder| %>
    <div class="form-group">
      <%= builder.label :name, '名前' %>
      <%= builder.text_field :name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit '作成', class: 'btn btn-primary', name: nil %>
  </div>
  
<% end %>
