
<div>
  <%= @from_node.name %>
</div>

<%= form_for(@to_node, method: :post, url: edges_path) do |f| %>
  
  <%# エラーメッセージをレンダリング %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <%# フォーム %>
  <%= hidden_field_tag :from_node_id, @from_node.id %>
  
  <div class="form-group">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit '作成', class: 'btn btn-primary', name: nil %>
  </div>
  
<% end %>
