
<header>
  
  <section id="top-nav">
    <nav class="row">
      
      <% if user_signed_in? %>
        
        <ul class="height-centering col-xs-6 text-left">
          <li>
            <div class="btn-group icon-bar">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar-top"></span>
                <span class="icon-bar-middle"></span>
                <span class="icon-bar-bottom"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to(edges_path, class: 'user') do %>
                    <p class="user-name"><%= current_user.name %></p>
                    <p class="user-email"><%= current_user.email %></p>
                  <% end %>
                </li>
                <li>
                  <%= link_to('フォロー', followings_follows_path) %>
                </li>
                <li>
                  <%= link_to('フォロワー', followers_follows_path) %>
                </li>
                <li>
                  <%= link_to('設定', edit_user_registration_path) %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <%= link_to('', class: 'icon button') do %>
              <span class="glyphicon glyphicon-bell"></span>
            <% end %>
          </li>
        </ul><!-- .col-xs-6 -->
            
        <ul class="height-centering col-xs-6 text-right">
          <li>
            <%= link_to("#", class: 'icon button', id: 'tour-icon') do %>
              <span><strong>？</strong></span>
            <% end %>
          </li>
        </ul><!-- .col-xs-6 -->
        
        <div class="centering">
          <%= link_to(edges_path) do %>
            <%= image_tag('logo_120_18.png') %>
          <% end %>
        </div><!-- .centering -->
        
      <% else %>
        
        <ul class="height-centering col-xs-6 text-left" >
          <li class="<%= 'active' if current_page?(new_user_registration_path) %>">
            <%= link_to('新規登録', new_user_registration_path, class: 'btn btn-default') %>
          </li>
        </ul><!-- .col-xs-6 -->
        
        <ul class="height-centering col-xs-6 text-right">
          <li class="<%= 'active' if current_page?(new_user_session_path) %>">
            <%= link_to('ログイン', new_user_session_path, class: 'text-link') %>
          </li>
        </ul><!-- .col-xs-6 -->
  
        <div class="centering">
          <%= link_to(root_path) do %>
            <%= image_tag('logo_120_18.png') %>
          <% end %>
        </div><!-- .centering -->
    
      <% end %>
      
    </nav>
  </section><!-- .top-nav -->


  <% if user_signed_in? %>

    <section id="bottom-nav">
      <nav class="row">
        
        <ul class="height-centering col-xs-6 text-left">
          <li>
            <% if params[:controller] == 'edges' %>
              <%= link_to("#node-new", class: 'icon button', id: 'new-node-icon') do %>
                <span class="glyphicon glyphicon-plus"></span>
              <% end %>
            <% else %>
              <%= link_to(edges_path + "#node-new", class: 'icon button', id: 'new-node-icon') do %>
                <span class="glyphicon glyphicon-plus"></span>
              <% end %>
            <% end %>
          </li>
        </ul><!-- .col-xs-6 -->
        
        <ul class="height-centering col-xs-6 text-right" >
          <li>
            <div class="btn-group zoom-button" role="group" aria-label="zoom">
              <button type="button" class="zoom-out-button btn btn-default">
                <span class="glyphicon glyphicon-zoom-out"></span>
              </button>
              <button type="button" class="zoom-in-button btn btn-default">
                <span class="glyphicon glyphicon-zoom-in"></span>
              </button>
            </div>
          </li>
        </ul><!-- .col-xs-6 -->
        
        <div class="centering">
          <li>
            <%= link_to('エッジ作成', '', class: 'btn btn-default') %>
          </li>
        </div><!-- .centering -->

      </nav>
    </section><!-- .bottom-nav -->
  
  <% end %>

</header>
