
<header>
  
  <section id="top-nav">
    
    <% if user_signed_in? %>
      
      <nav class="signed_in">
      
        <ul class="height-centering position-left">
          <li>
            <div class="btn-group icon-bar">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar-top"></span>
                <span class="icon-bar-middle"></span>
                <span class="icon-bar-bottom"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to(edges_path, class: 'user') do %>
                    <p class="user-name"><%= current_user.name %></p>
                    <p class="user-email"><%= current_user.email %></p>
                  <% end %>
                </li>
                <li>
                  <%= link_to('フォロー', followings_follows_path) %>
                </li>
                <li>
                  <%= link_to('フォロワー', followers_follows_path) %>
                </li>
                <li>
                  <%= link_to('設定', edit_user_registration_path) %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <%= link_to('', class: 'icon button') do %>
              <span class="glyphicon glyphicon-bell"></span>
            <% end %>
          </li>
        </ul><!-- .position-left -->
            
        <ul class="height-centering position-right">
          <li>
            <%= link_to("#", class: 'icon button', id: 'tour-icon') do %>
              <span><strong>？</strong></span>
            <% end %>
          </li>
        </ul><!-- .position-right -->
        
        <div class="position-center logo">
          <%= link_to(edges_path) do %>
            <%= render 'layouts/logo' %>
          <% end %>
        </div><!-- .position-center -->
        
      </nav>
      
    <% else %>
    
      <nav class="signed_out">
        
        <ul class="height-centering position-left" >
          <li class="<%= 'active' if current_page?(new_user_registration_path) %>">
            <%= link_to(t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'text-link') %>
          </li>
        </ul><!-- .position-left -->
        
        <ul class="height-centering position-right">
          <li class="<%= 'active' if current_page?(new_user_session_path) %>">
            <%= link_to(t('devise.sessions.new.sign_in'), new_user_session_path, class: 'text-link') %>
          </li>
        </ul><!-- .position-right -->
  
        <div class="position-center logo">
          <%= link_to(root_path) do %>
            <%= render 'layouts/logo' %>
          <% end %>
        </div><!-- .position-center -->
        
      </nav>
    
    <% end %>
      
  </section><!-- .top-nav -->


  <% if user_signed_in? && params[:controller] == 'edges' %>

      <section id="bottom-nav">
        <nav class="signed_in">
          
          <ul class="height-centering position-left">
            <li>
                <%= link_to("#node-new", class: 'icon button', id: 'new-node-icon') do %>
                  <span class="glyphicon glyphicon-plus"></span>
                <% end %>
            </li>
          </ul><!-- .position-left -->
          
          <ul class="height-centering position-right" >
            <li>
              <div class="btn-group zoom-button" role="group" aria-label="zoom">
                <button type="button" class="zoom-out-button btn">
                  <span class="glyphicon glyphicon-zoom-out"></span>
                </button>
                <button type="button" class="zoom-in-button btn">
                  <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
              </div>
            </li>
          </ul><!-- .position-right -->
          
          <div class="position-center">
            <li>
              <%= link_to('連想する', '', id: 'associating', class: 'btn btn-primary') %>
            </li>
          </div><!-- .position-center -->
  
        </nav>
      </section><!-- .bottom-nav -->
    
  <% end %>

</header>
