
<header>
  
  <section id="top-nav">
    
    <% if user_signed_in? %>
      
      <nav>
      
        <ul class="height-centering position-left">
          <li>
            <div class="btn-group icon-bar">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar-top"></span>
                <span class="icon-bar-middle"></span>
                <span class="icon-bar-bottom"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to(edge_path(current_user.ref_id), class: 'user') do %>
                    <p class="user-name"><%= current_user.name %></p>
                    <p class="user-info">自分のマップ</p>
                  <% end %>
                </li>
                <li>
                  <%= link_to('全体マップ', edges_path) %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to('フォロー', followings_follows_path) %>
                </li>
                <li>
                  <%= link_to('フォロワー', followers_follows_path) %>
                </li>
                <li>
                  <%= link_to('設定', edit_user_registration_path) %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </div>
          </li>
          <li id="notification" class="dropdown">
            <%= render 'notification_logs/notifications', notifications: @notifications %>
          </li>
        </ul><!-- .position-left -->
        
        <div class="position-center logo">
          <%= link_to(edges_path) do %>
            <%= render 'layouts/logo' %>
          <% end %>
        </div><!-- .position-center -->
        
        <ul class="height-centering position-right">
          <% if params[:controller] == 'edges' %>
            <li>
              <%= link_to("#", class: 'icon button', id: 'tour-icon') do %>
                <span><strong>？</strong></span>
              <% end %>
            </li>
          <% end %>
        </ul><!-- .position-right -->
        
      </nav>
      
    <% else %>
    
      <nav>
        
        <ul class="height-centering position-left">
          <li class="<%= 'active' if current_page?(new_user_registration_path) %>">
            <%= link_to(t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'text-link') %>
          </li>
        </ul><!-- .position-left -->
        
        <div class="position-center logo">
          <%= link_to(root_path) do %>
            <%= render 'layouts/logo' %>
          <% end %>
        </div><!-- .position-center -->
        
        <ul class="height-centering position-right">
          <li class="<%= 'active' if current_page?(new_user_session_path) %>">
            <%= link_to(t('devise.sessions.new.sign_in'), new_user_session_path, class: 'text-link') %>
          </li>
        </ul><!-- .position-right -->
  
      </nav>
    
    <% end %>
      
  </section><!-- .top-nav -->


  <% if params[:controller] == 'edges' %>

    <section id="bottom-nav">
      <nav>
        
        <ul class="height-centering position-left">
          <% if user_signed_in? %>
            <li>
              <%= link_to('#node-new', class: 'icon button', id: 'new-node-icon') do %>
                <span class="glyphicon glyphicon-plus"></span>
              <% end %>
            </li>
          <% end %>
        </ul><!-- .position-left -->
        
        <ul class="position-center" id="node-option">
          <% if user_signed_in? %>
            <% if !@is_hide_user %>
              <li id="twitter-icon-view" class="active">
                <%= link_to('', class: 'icon button', id: 'twitter-icon') do %>
                  <%= render 'layouts/twitter' %>
                <% end %>
              </li>
            <% end %>
            <li id="associating-view">
              <%= link_to('連想する', '', id: 'associating', class: 'btn btn-primary') %>
            </li>
          <% end %>
        </ul><!-- .position-center -->

        <ul class="height-centering position-right" >
          <li>
            <div class="btn-group zoom-button" role="group" aria-label="zoom">
              <button type="button" class="zoom-out-button btn">
                <span class="glyphicon glyphicon-zoom-out"></span>
              </button>
              <button type="button" class="zoom-in-button btn">
                <span class="glyphicon glyphicon-zoom-in"></span>
              </button>
            </div>
          </li>
        </ul><!-- .position-right -->
        
      </nav>
    </section><!-- .bottom-nav -->
    
  <% end %>

</header>
