<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    
    <title>Imaginnection</title>
    <meta name="description" content="イメージを連ねて繋がろう！単語連想サービス「imaginnection」です。">
    <meta name="keywords" content="Imaginnection, 連想, 共有, 単語, イメージ, 繋がり, 繋がる, 投稿, SNS, twitter">
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@imaginnection" />
    <meta property="og:title" content="Imaginnection" />
    <meta property="og:description" content="イメージを連ねて繋がろう！単語連想サービス「imaginnection」です。" />
    <meta property="og:image" content="<%= root_url %>header.jpg" />
    
    <%= csrf_meta_tags %>
    
    <meta name="msapplication-TileColor" content="#2d88ef">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon-32x32.png">
    <link rel="manifest" href="/manifest.json">

    <%# Bootstrap CSS %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    
    <%# app/assets/stylesheets %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%# app/assets/javascripts %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# Bootstrap JavaScript %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <%# Firebase JavaScript %>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    
    <%# google font %>
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />    
    
    <%# Global site tag (gtag.js) - Google Analytics %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124890972-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-124890972-1', {
        <% if user_signed_in? %>
          'dimension1': '<%= current_user.ref_id %>: <%= current_user.name %>'
        <% else %>
          'dimension1': 'guest'
        <% end %>
      });
    </script>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    
    <main class="<%= 'egdes-main' if params[:controller] == 'edges' %>">
      
      <%= render 'layouts/flash_messages' %>
        
      <%= yield :cover %>
      
      <% if params[:controller] != 'edges' %>
        <div class="container">
          
          <%= yield %>
          
        </div>
      <% end %>
  
    </main>
    
    <%= render 'layouts/footer' %>
    
    <div id="info-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <%= yield :script %>
  </body>
</html>
